body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar {
    background-color: #83bad6;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton', sans-serif;
    z-index:1;
}

.navbar h1 {
    font-size:3.5vw;
      background: var(--titles);
      border-radius:10px 10px 10px 10px;
      padding: 0.5vw;
      margin-left: 20px;
      float: left;
  }

.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* font-family: 'Anton', sans-serif; */
    z-index:1;
    list-style-type: none;
    padding-right: 20px;
  }

  .dropdown-item {
    list-style-type:none;
    margin: 0;
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    border: solid 1px black;
  }

  .nav-item {
    font-size: 20px;
    padding:0 20px;
  }
  
  .nav-item:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .main{
    text-align: center;
    padding-bottom: 15vh;
  }
  .card-header{
    padding: 10px;
  }
  .table{
    display: flex;
    justify-content: center; 
  }

  .th{
    padding: 5px;
  }
  .td {
    background-color: aliceblue;
    border: black 1px solid;
    font-size: 12px;
  }
  .titles{
   padding-top:10px ;
  }
  .tablebtn{
    margin: 5px;
  }
  .addbtn{
    margin-top: 20px;
    max-width: 200px;
  }
  .add-new{
   text-align: center;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-input {
    margin: 10px;
    
  }
  
  .footer {
    height: 8vh;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #83bad6;
    color: black;
    justify-content: center;
    padding-left:2vw; 
  }

  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 20px;
    color: black;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;/* Important for vertical align on mobile phones */
  }

  .dropdown-content {
    display: none;
    font-size: 15px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-item:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-menu {
    width: 100%;
     padding: 0;
  }

  .tablecontainer{
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .activitydropdowns {
    margin:10px 0;
  }

  .column {
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  
  }
 .row {
  width: 80%;
 }

 .alink {
  list-style-type: none;
  color:black;
  text-decoration: none;
 }
